<form [formGroup]="form">
    <div class="form-group">
        <label for="oldpassword">Old password</label>
        <input 
            formControlName="oldpassword"
            id="oldpassword" 
            type="text" 
            class="form-control">
        <div *ngIf="oldpassword.touched && oldpassword.invalid" class="aletrt alert-danger">
            <div *ngIf="oldpassword.errors.required">Old password is required.</div>
            <div *ngIf="oldpassword.errors.oldPasswordInvalid">Old password is invalid.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="newpassword">New password</label>
        <input 
            formControlName="newpassword"
            id="newpassword" 
            type="text" 
            class="form-control">
        <div *ngIf="newpassword.touched && newpassword.invalid" class="aletrt alert-danger">
            <div *ngIf="newpassword.errors.required">New password is required.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmpassword">Confirm password</label>
        <input 
            formControlName="confirmpassword"
            id="confirmpassword" 
            type="text" 
            class="form-control">
        <div *ngIf="confirmpassword.touched && confirmpassword.invalid" class="aletrt alert-danger">
            <div *ngIf="confirmpassword.errors.required">Confirm password is required.</div>
        </div>
    </div>
    <div *ngIf="confirmpassword.touched && newpassword.touched && form.errors" class="aletrt alert-danger">
        <div *ngIf="form.errors?.passwordNotMatch">Passwords do not match.</div>
    </div>
<button class="btn btn-primary" type="submit">Change password</button>
</form>